* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    -ms-touch-action: none;
}

ul li {
    list-style: none;
}

body, ul, li {
    padding: 0;
    margin: 0;
    border: 0;
}

img {
    display: block;
}

body {
    font-size: 12px;
    font-family: ubuntu, helvetica, arial;
    overflow: hidden; /* this is important to prevent the whole page to bounce */
}

#header {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 9vh;
    line-height: 9vh;
    background: #000;
    padding: 0;
    color: #fff;
    font-size: 3vh;
    text-align: center;
    font-weight: bold;
}

#footer {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    background: #000;
    padding: 0;
    border-top: 1px solid #000;
    color: #fff;
    text-align: center;
}

#footer > div {
    float: left;
    width: 33.3vw;
    margin-top: 2.5vh;
}

#footer > div img {
    display: block;
    margin: 0 auto;
    height: 3vh;
}

/*three content*/
#wrapper {
    position: absolute;
    z-index: 1;
    top: 12vh;
    bottom: 8vh;
    left: 0;
    width: 100%;
    background: #fff;
    overflow: hidden;
}

#scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    overflow: hidden;
}

/*buycontent*/
.sousuo{
    width: 95%;
    height: 6vh;
    margin: 0.5vh 3vw 1vh 3vw;
    display: block;
    background: url("../img/sousuo.png") no-repeat right center;
    background-size: 5vh 5vh;
}
.buycontent dl{
    padding: 0.5vh 0.5vw 1vh 0.5vw;
    overflow: hidden;
    border-bottom: 1px solid #666;
}

.buycontent dl dt{
    float: left;
    width: 33.3vw;
}

.buycontent dl dt img{
    margin: 0 auto;
}

.buycontent dl dd {
    float: left;
    width: 65vw;
}

.buycontent .contenttop{
    font-size: 2vh;
}

.buycontent .contentbottom{
    margin-top: 5vh;
    overflow: hidden;
}

.buycontent .contentbottom p:nth-child(1) {
    float: left;
    color: #f00;
    font-size: 3.5vh;
    margin-left: 0.5vw;
}

.buycontent .contentbottom p:nth-child(2) {
    float: right;
    height: 5vh;
    width: 20vw;
    background: orange;
    margin-right: 1vw;
    color: #fff;
    text-align: center;
    line-height: 5vh;
    font-size: 2.2vh;
    border-radius: 0.5vw;
    margin-top: 0.8vh;
}

.buycontent dl span{
    height: 0;
    display: none;
}

/*havecontent*/
.havecontent {
    display: block;
}
.havecontent dl {
    padding: 0.5vh 0.5vw 1vh 0.5vw;
    overflow: hidden;
    border-bottom: 1px solid #666;
}
.havecontent dl dt {
    float: left;
    width: 33.3vw;
}
.havecontent dl dd {
    float: left;
    width: 63vw;
}


.havecontent .contentbottom p:nth-child(1) {
    float: left;
    color: #bbbbbb;
    font-size: 2.2vh;
    margin-left: 0.5vw;
    margin-top: 2vh;
}
 .havecontent dl dt img {
    margin: 0 auto;
}
.havecontent .contenttop {
    font-size: 2vh;
}
 .havecontent .contentbottom {
    margin-top: 5vh;
    overflow: hidden;
}
 .havecontent .contentbottom p:nth-child(2) {
    float: right;
    height: 5vh;
    width: 20vw;
    background: orange;
    margin-right: 1vw;
    color: #fff;
    text-align: center;
    line-height: 5vh;
    font-size: 2.2vh;
    border-radius: 0.5vw;
    margin-top: 0.8vh;
}

.buycontent dl span, .havecontent dl span {
    height: 0;
    display: none;
}

/*mycontent*/
.mycontent {
    display: block;
}

.usermessage {
    height: 30.1vh;
    width: 100%;
    border-bottom: 1px solid #666;
    background: url("./../img/touxiang.png") no-repeat 9.7vw center;
    position: relative;
}

.welcome {
    position: absolute;
    left: 35%;
    top: 50%;
    margin-top: -25px;
    height: 50px;
    font-size: 25px;
    line-height: 50px;
}

.list {
    height: 8.4vh;
    border-bottom: 1px solid #666;
    padding-right: 40px;
    background: url("./../img/jiantou.png") no-repeat right center;
}

.mymessage > div {
    background: url("./../img/myziliao.png") no-repeat left center;
}

.myhouse > div {
    background: url("./../img/myfangyuan.png") no-repeat left center;
}

.outhouse > div {
    background: url("./../img/fabu.png") no-repeat left center;
}

.mymark > div {
    background: url("./../img/mushoucang.png") no-repeat left center;
}

.our > div {
    background: url("./../img/our.png") no-repeat left center;
}
.list>div{
    padding-left:60px ;
    height: 8.4vh;
    background-size:40px 40px ;
    font-size: 20px;
    line-height: 8.4vh;
}

